# ignore Node.js
node_modules
.node_modules
npm-debug.log

# ignore build results
build
tmp
.nyc_output

# ignore Apple DS Store
*.DS_Store
Thumbs.db

# ignore log files
logs
*.log

# ignore swap files
*.swp

# emacs turds
*~

# pid files
*.pid

# Vagrant project files
.vagrant

# hide Sublime settings
*.sublime-workspace
sftp-config.json
sftp-settings.json
