registry=https://registry.npmjs.org/

# @see https://docs.npmjs.com/misc/config
engine-strict = true
save-dev = false
save-exact = false
save-prefix = "^"
save-prod = false
package-lock = true
package-lock-only = false
