registry=https://registry.npmjs.org/

# @see https://docs.npmjs.com/misc/config
dev = false
engine-strict = true
fetch-retries = 2
fetch-retry-factor = 2
fetch-retry-mintimeout = 1000
production = false
rollback = true
save = false
save-dev = false
save-exact = false
save-prefix = "^"
shrinkwrap = true
