<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<META http-equiv="Content-Type" content="text/html; charset=us-ascii">
<base href="<%= config.baseURL %>">
<title>Sleepbot Constructs:  404 Not Found</title>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="shortcut icon" href="/favicon.gif">
<link rel="stylesheet" type="text/css" href="/css/granular.css" media="all" charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/ie-fixed-emulation.css" media="all" charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/root.css" media="all" charset="UTF-8">
</head>
<body class="noBMP bkgBlack">
<div class="mySleepBot fntFmWeb fntSz12 clrWhite">
        &laquo;&nbsp; If you're looking for SleepBot, the sleep-tracking App, please visit <a class="clrWhite lnkRollUl" href="http://mySleepBot.com"><b>mySleepBot.com</b></a> &nbsp;&raquo;
    </div>
<div class="fixedEmulationStyle fixedLeft">
<div class="contentLeft">
<div class="posAlR fntFmMono clrLogoLight bold fntSpc120 fntHt120" style="font-size: 28px">
<span class="plain clrCream">s</span>leepbot<br>
<span class="plain clrCream">c</span>onstructs<br>
</div>
<div class="relative" style="margin: 20px 0 50px 0; height: 200px">
<div class="posFlR">
<div class="noBMP" style="width:200px">
<img src="/images/circle_top.gif" width="200" height="50" class="noBMP"></div>
<div class="noBMP" style="width:200px">
<img src="/images/circle_left.gif" width="50" height="100" class="noBMP"><a href="/" onMouseOver="RootBotAnim.onMouseOver(this); return true" onMouseOut="RootBotAnim.onMouseOut(this); return true"><img id="imgBotAnim" class="noBMP" src="/images/bot_static.gif" width="100" height="100"></a><img src="/images/circle_right.gif" width="50" height="100" class="noBMP"></div>
<div class="noBMP" style="width:200px">
<img src="/images/circle_bottom.gif" width="200" height="50" class="noBMP"></div>
</div>
<div class="clr"></div>
</div>
<div>
<div class="contentLeftTextLinks posFlR clrLogoLight fntFmWeb fntSz12 fntHt150">
<div>
<a class="linkStyled" href="/snew.html">What's&nbsp;New?</a>
</div>
<div style="margin-top: 10px">
<table class="noBMP">
<tr class="noBMP">
<td class="noBMP posAlC clrLogoLight fntFmWeb fntSz12 fntHt150"><a class="linkStyled" href="feeds.html">Feeds</a> &nbsp;</td><td class="noBMP posAlC clrLogoLight fntFmWeb fntSz12 fntHt150"><a class="img" href="feeds.html"><img src="/images/feed-icon-14x14.png" width="14" height="14" border="0"></a></td>
</tr>
</table>
</div>
<div style="margin-top: 10px">
<a class="linkStyled" href="/map.html">Site&nbsp;Map</a>
</div>
<div style="margin-top: 10px">
<a class="linkStyled" href="/link.html">Site&nbsp;Logos</a>
</div>
<div style="margin-top: 10px">
<a class="linkStyled" href="/lookit/etc/dfoley.html">Contact&nbsp;Info</a>
</div>
</div>
<div class="clr"></div>
</div>
<div class="enforceLeftWidth">&nbsp;</div>
</div>
<div class="clr"></div>
</div>
<div class="fixedEmulationBody fixedBody">
<div class="contentBody">
<table class="noBMP">
<tr align="left" valign="top" class="noBMP">
<td class="enforceLeftProportion">
<div class="enforceLeftWidth">&nbsp;</div>
</td><td class="enforceRightProportion">
<div style="padding: 0 10% 0 50px">
<div class="fntFmWeb fntSz12 clrCream fntHt150">
<span class="fntFmSansTwist fntSz16 bold">
		404 Not Found
	</span>
<br>
<br>
<% if (real_uri) { %>
	That's net-speak for "I can't find any information for":

	<div class="clrLogoLight" style="padding: 20px">
		<%= real_uri %>
	</div>
<% } %>

	Sorry about that.
	&nbsp;
	Below is a list of the projects features on this site.
	&nbsp;
	For more information, please see either the <a class="linkStyled" href="/">Home Page</a> or the <a class="linkStyled" href="/map.html">Site Map</a>.
</div>
<div class="fntFmSansTwist fntSz16 bold clrTurquoise" style="margin-top:50px; padding-left: 15px">
Active Projects:
	</div>
<div class="projectLayerA" style="margin-top:25px;">
<div class="projectLayerB">
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/ambience/broadcast/" title="Sleepbot Environmental Broadcast">Sleepbot Environmental Broadcast</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/ambience/" title="Ambience for the Masses">Ambience for the Masses</a>
</div>
</div>
</div>
<div class="fntFmSansTwist fntSz16 bold clrAqua" style="margin-top:50px; padding-left: 15px">
Completed Projects:
	</div>
<div class="projectLayerA" style="margin-top:25px;">
<div class="projectLayerB">
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/morgan/" title="Morgan's Tarot">Morgan's Tarot</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/WRLDtime/" title="WRLD.time">WRLD.time</a>
</div>
</div>
</div>
<div class="fntFmSansTwist fntSz16 bold clrMustard" style="margin-top:50px; padding-left: 15px">
Archival Projects:
	</div>
<div class="projectLayerA" style="margin-top:25px;">
<div class="projectLayerB">
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/fucc/" title="FUCC -- 89.1 FM -- Seattle">FUCC -- 89.1 FM -- Seattle</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/drummond/" title="Drummond Base">Drummond Base</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/critturs/" title="The Senseless Existence of Critturs">The Senseless Existence of Critturs</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/freesoul/" title="The FreeSoul Information Nexus">The FreeSoul Information Nexus</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/friend/" title="Friends of Lookit Coallition">Friends of Lookit Coallition</a>
</div>
<div style="padding: 10px" class="fntFmSansTwist fntSz16 bold">
<a class="linkStyled" href="/lookit/" title="The Root of All Things Lookit">The Root of All Things Lookit</a>
</div>
</div>
</div>
<div style="margin-top: 50px">
<div class="posAlR">
<span class="fntFmWeb fntSz12 clrCream fntHt150"><a class="linkStyled nowrap" href="/snew.html">What's New?</a>
			&nbsp;&#149;&nbsp;&nbsp;<a class="linkStyled nowrap" href="/map.html">Site Map</a>
			&nbsp;&#149;&nbsp;&nbsp;<a class="linkStyled nowrap" href="/link.html">Site Logos</a>
			&nbsp;&#149;&nbsp;&nbsp;<a class="linkStyled nowrap" href="/lookit/etc/dfoley.html">Contact Info</a></span>
</div>
<div class="clr"></div>
</div>
<div style="margin: 50px 0 50px 0">
<span class="fntFmWeb fntSz9 clrLogoLight fntHt150">
Web Implementation (c)2006, Lookit the Cat Productions
<br>
Site hosted by <a class="linkStyled" href="http://www.hyperreal.org/">Hyperreal</a>.
&nbsp;
Issues handled by <a class="linkStyled" href="/lookit/etc/dfoley.html">me</a>.
	</span>
</div>
</div>
</td>
</tr>
</table>
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6731295-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
